    /*==========  Desktop First Method  ==========*/


/* Large Devices, Wide Screens */

@media all and (min-width: 1200px) {
    .show-menu,
    .show-gallary-menu {
        display: none;
    }
}

@media all and (max-width: 1200px) {
    .portfolio-item p {
        font-size: 1em;
    }
    .show-menu,
    
    .show-gallary-menu {
        display: none;
    }
}


/* Medium Devices, Desktops */

@media all and (max-width: 992px) {
   
    .hide-menu{
        display: none;
    }
    .gallary-nav.left {
        float: none;
        display: none;
        width: 100%;
        margin-top: 0;
    }
    .main-info.right {
        float: none;
        width: 100%;
    }
    i.fa.fa-facebook-square {
        font-size: 12px;
    }
    .nav a {
        font-size: 10px;
        padding: 24.5px 6px;
    }
    .nav a:hover {
        padding: 22.5px 6px;
    }
    .show-gallary-menu {
        display: block;
    }
    .show-menu {
        display: none;
    }
    .item-descr {
        font-size: 1em;
    }
    .logo h1 {
        font-family: 'Roboto Condensed', sans-serif;
    }
    .portfolio-item p {
        font-size: 0.8em;
    }
    .material-item p {
        font-size: 0.8em;
    }
}

@media all and (max-width: 820px) {
    
    
    .nav ul {
        display: none
    }
    .show-menu {
        display: block;
    }
    .nav li:last-child {
        margin: 1px 5px;
        display: block;
    }
 
}


/* Small Devices, Tablets */

@media all and (max-width: 768px) {
    .gallary .container{
        box-shadow: none;
    }
    figure.snip1470 > img,
    figure.snip1470.hover > img {
        opacity: 0.5;
    }
    figure.snip1470 figcaption,
    figure.snip1470.hover figcaption {
        -webkit-transform-origin: 100% 0;
        -ms-transform-origin: 100% 0;
        transform-origin: 100% 0;
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    figure.snip1470:hover > img,
    figure.snip1470.hover > img {}
    figure.snip1470:hover figcaption,
    figure.snip1470.hover figcaption {}
    .portfolio-item {
        float: left;
    }
    .portfolio-item p {
        font-size: 0.8em;
    }
    figure.snip1470 {
        width: 49%;
        margin-left: 0.5%;
    }
    .descr {
        text-align: justify;
    }
    .item-descr {
        font-size: 0.75em;
    }
    .contact-info {
        font: 17px 'Roboto', Sans-Serif;
        float: none;
        width: 100%;
        /*padding: 10px 10px 10px 0;*/
        text-align: center;
    }
    .map {
        display: inline-block;
        float: none;
        width: 100%;
        height: 250px;
        margin-top: 15px;
    }
}


/* Extra Small Devices, Phones */

@media all and (max-width: 480px) {
    #owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
    min-height: 150px;
    
}

    .phones {
        display: none;
    }
    .portfolio-item {
        float: left;
    }
    .portfolio-item p {
        font-size: 0.9em;
    }
    figure.snip1470 {
        width: 90%;
        margin: 5px 5%;
    }
    .call-us {
        display: block;
    }
    .nav ul {
        display: none
    }
    .show-menu {
        display: block;
    }
    .item-descr {
        font-size: 0.6em;
    }
}


/* Custom, iPhone Retina */

@media all and (max-width: 360px) {
    .portfolio-item p {
        font-size: 0.8em;
    }
    .logo h1 {
        font-size: 26px;
    }
    .logo img {
        display: none;
    }
    .item-descr {
        font-size: 0.5em;
    }
    .more {
        margin-bottom: 10px;
    }
    .more a {
        padding: 3px;
    }
}

@media only screen and (max-width: 305px) {
    .item-descr {
        font-size: 0.45em;
        .logo h1 {
            font-size: 24px;
        }
    }
