@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(https://fonts.googleapis.com/css?family=Cardo);


a
{
    text-decoration: none;
}
.left{
    float: left;
}
.right{
    float: right;
}
.container
{
    width: 90%;
    max-width: 1200px;
    min-width: 288px;
    margin: 0 auto;
}

.header
{
    width: 100%;
    background: #fff;
}

.logo
{
    float: left;
    height: 68px;
}
.logo img
{
    width: 68px;
    height: 65px;
    padding: 1px 0;
}

.logo h1
{
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    position: absolute;
    display: inline;
    margin-top: 18px;
    margin-left: 3px;
    padding: 2px;
    text-transform: uppercase;
    color: #4e3928;
    /*border: 1px solid #4E3928;*/
    /*text-shadow: 2px 2px 3px #aaa;*/
}

.logo h1 span
{
    color: #00886e;
}
.nav
{
    float: right;
    display: inline-block;
    padding-top: 10px;
}
.nav li
{
    float: left;
    margin-right: 12px;
    list-style-type: none;
    /* height: 100%; */
   /* padding-top: 10px;*/
}

.nav li:last-child
{
    margin-right: 165px;
}

.nav li:first-child
{
    margin-left: 10px;
}

.nav button{
    display: none;
}

.nav a
{
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font: bold 15px 'Roboto',sans-serif;
    color: #4E3928;
}

.nav a:hover
{
    color: #00886e;
}

.nav table
{
    margin-right: 0px;    
    margin-bottom: -1.0em;
    margin-top: -2.4em;    
    float: right;    
}

.nav tr
{
    display: block;

    color: #4e3928;
}
.nav span
{
    font-family: 'Roboto', sans-serif;

    padding-left: 4px;
}

.nav button
{
    background-color: transparent;
    border: none;
    font-size: 30px;
    margin-top: 6px;  
    position: absolute;  
}
i.fa
{
    color: #00886e;
}
i.fa.fa-mobile
{
    font-size: x-large;
}
.soc-butt {
    position: absolute;
    float: right;
    margin-left: 381px;
    margin-top: -2px;
}
i.fa.fa-facebook-square {
    font-size: 21px;    
}

i.fa.fa-facebook-square:hover {
    color: #44619D;    
}

.home
{
    height: 700px;
    padding-top: 270px;

    text-align: center;

    color: #fff;
    background-color: #e3e36a;
}

#owl-demo .item
{
    position: relative;
    float: left;
}
.item-descr{
    top: 30%;
    left: 25%;
    right: 25%;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    color: white;
    min-height: 150px;
}
.item-descr p{
    padding: 0px 35px;
    text-align: center;
}
.item-descr a
{   
    padding: 5px;
    margin-left: 250px;
    border: solid 1px #00886e;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    background-color: rgba(0,0,0,0.2);

}

.item-descr.hot a
{   
    padding: 5px;
    margin-left: 300px;
    border: solid 1px #F94E3F;    
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    background-color: #F94E3F;

}
.item-descr.hot a:hover
{
    color: #ffc952;
    background-color: #F94E3F;
}

.item-descr a:hover
{       
    background-color: #00886e;

}
#owl-demo .item img
{ 

    display: block;
    width: 100%;
    height: auto;
}




.portfolio
{
    width: 100%;
    margin: 0 auto;
    text-align: center;  
    border-bottom: 3px solid #F1F1FF;  
}

.portfolio-wrap
{
    width: 100%;
    margin: 0 auto;   
}
.portfolio-item
{   
    float: left;
    width: 390px;
    height: 293px;
    margin: 5px;    
}
.material-item
{
    float: left;
    width: 230px;
    height: 293px;
    margin: 5px;  
}
.box
{
    padding: 15px 0;
    margin: 5px 0;
    overflow: hidden;
}
.portfolio-item img
{
    min-width: 100%;
    min-height: 100%;
}
.portfolio-item:nth-child(3n)
{
    margin-right: 0;
}
.portfolio-item:nth-last-child(1),
.portfolio-item:nth-last-child(2),
.portfolio-item:nth-last-child(3)
{
    margin-bottom: 0;
}

.portfolio-item-footer
{
    padding: 25px 20px;
}

.portfolio-item-footer h5.title
{
    margin-bottom: 4px;
}

.footer
{
    width: 100%;   
    margin: 0 auto;
    overflow: hidden;
    background-color: #566270;
}
.map
{
    display: inline-block;
    float: right;

    width: 45%;
    height: 260px;
    /*margin: 20px 0 20px 20px;*/
}

.contact-info
{
    font: 16px 'Roboto', Sans-Serif;    
    float: left;
    width: 45%;
    /*padding: 10px 10px 10px 0;*/
    text-align: left;
    color: #FFFFF3;
}



figure.snip1470 {
  font-family: 'Roboto', sans-serif;
  position: relative;
  overflow: hidden;
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  background-color:rgba(0, 0, 0, 0.6);
}

figure.snip1470.material-item {  
  font-size: 14px; 
  font-family: 'Roboto Condensed', sans-serif;
}


figure.snip1470 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

figure.snip1470 img {
  vertical-align: top;  
  backface-visibility: hidden;
}

figure.snip1470 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 4px solid rgba(255, 255, 255, 0.05);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

figure.snip1470 h2,
figure.snip1470 p {
  line-height: 1.3em;
  margin: 0;
}

figure.snip1470 h2 {
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  border-bottom: 1px solid #00886e;
}

figure.snip1470 p {
  padding: 8px 0 15px;
}

figure.snip1470 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

figure.snip1470:hover > img,
figure.snip1470.hover > img {
  opacity: 0.2;
}

figure.snip1470:hover figcaption,
figure.snip1470.hover figcaption {
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: rotate(0);
  transform: rotate(0);
}


.about{
    text-align: center;
    height: auto;
}

.about-text{
    width:35%;

    
}
.about-img{
    width:30%;
    line-height: 0;
}
.about-img:after{
    content: '';
    display: block;
    margin: 0 auto;
    height: 94px;
    width: 3px;
    background: #f1f1f1;
}
.about-item:last-child  .about-img:after{
    display: none;
}
.about-text h5{
    line-height: 24px;
}

.about-text p{
    font-size: 16px;
    color:#777;
    line-height: 24px;
}

.about-img img{
    display: inline-block;

    width: 177px;
    height: 177px;
    border: 7px solid #f1f1f1;
    border-radius: 50%;
}

.slider {
    border-bottom: 3px solid #F1F1FF;   
    
}

.slider h2{
    text-align: center;
    text-transform: uppercase;
    font: bold 17px 'Roboto',sans-serif;
    color: #4E3928;    
}



h2.title{
        /* margin-bottom: 10px; */
    margin: 5px 0;      
    margin-top: 0px;
    text-transform: uppercase;
    /* font: bold 40px/40px Arial,sans-serif; */
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 500;
    color: #4e3928;
}

h5.title{
    margin-bottom: 10px;
    
    font:bold 18px/18px Arial,sans-serif;
    color: #222;
}

.descr{
        margin: 10px 0;
    font-size: 16px;
    color: #777;
}
.about-wrap{
    padding-top: 70px;
}

.clearfix:before,
.clearfix:after{
    content:" ";
    display: table;

}

.clearfix:after{
    clear:both;
}
.left{
    float: left;
}
.right{
    float: right;
}

.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}

.gallary{
    padding:30px 0px;

    border-top: 1px solid #F1F1FF;
    width: 100%;

   
}
.gallary .container{
  -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
}
.gallary-nav{
    width: 15%;
    height: auto;
   
}

.main-info{
   
    width: 80%;
    height: auto;
 
}

ul{
    list-style-type: none;
}

h5.main-title{
    text-transform: uppercase;
    font-size: 20px;
    font-family:Roboto; 
    color: #222;
}

.main-descr{
    text-align: justify;
}
.gallary-nav-menu{

    padding-left: 0px;
   
}
.main-menu{
    border-bottom: 2px solid #00886e;
    padding:5px 0;

}
.gallary-nav-menu a{
    font-family: Roboto;
    color: #222;
}

.sub-menu{
    padding-left: 20px;
    border-bottom: 1px solid #00886e;
}